<div class="card mx-auto mt-5 shadow" style="max-width: 500px;">
  <div class="card-body">

    @if (!finished()) {
      <h2 class="h4 fw-bold mb-4">
        Question {{ currentIndex() + 1 }}
      </h2>

      <p class="mb-4">
        {{ currentQuestion().question }}
      </p>

      <div class="d-flex flex-column gap-2">

        @for (option of currentQuestion().options; track option) {
          <button
            class="btn btn-outline-secondary text-start"
            (click)="answer(option)">
            {{ option }}
          </button>
        }

      </div>
    }

    @if (finished()) {
      <div class="text-center">
        <h2 class="h5 fw-bold">
          Score: {{ score() }} / {{ questions.length }}
        </h2>
      </div>
    }

    <button
      class="btn btn-primary w-100 mt-4"
      (click)="restart()">
      Restart Quiz
    </button>

  </div>
</div>